.Title {
  margin-bottom: 32px;
  color: #555;
}

.ImageWrapper {
  width: 200px;
  height: auto;
  margin: 40px 0;
}

.Image {
  width: 180px;
}

.ButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container {
  width: 100%;
}

.red {
  background: red;
  padding: 5px;
  border-radius: 3px;
}

.green {
  background: green;
  padding: 5px;
  border-radius: 3px;
}
